includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    phpVersion:
        min: 80400
        max: 80599
    checkMissingOverrideMethodAttribute: true
    paths:
        - src
        - tests
        - examples
        - bin/tgbot
        - tools
    tmpDir: .phpstan.cache
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportWrongPhpDocTypeInVarTag: true
    reportUnmatchedIgnoredErrors: true
